{% load static %}
{% load tracking_tags %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover">
    <meta name="facebook-domain-verification" content="73hwg7lythnnqtl0mtlqdgyewx6h3z" />
    <!-- font -->
    <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'fonts/font-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <!-- Favicon and Touch Icons -->
    <link rel="shortcut icon" href="{% static 'images/logo/48.png' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/logo/48.png' %}" />

    {% tracking_head %}

    <title>Alterar Senha</title>
</head>

<body>
    <div class="header fixed-top bg-surface d-flex justify-content-center align-items-center">
        <a href="javascript:void(0);" class="left back-btn"><i class="icon-left-btn"></i></a>
        <h3>Senha</h3>
    </div>
    <div class="pt-45 pb-16">
        <div class="tf-container">
            <form method="post" action="{% url 'core:change_password' %}">
                {% csrf_token %}
                <fieldset class="mt-16">
                    <label class="mb-8">Senha Atual</label>
                    <input type="password" name="old_password" required>
                </fieldset>
                <fieldset class="mt-16">
                    <label class="mb-8">Nova Senha</label>
                    <input type="password" name="new_password1" required>
                </fieldset>
                <fieldset class="mt-16">
                    <label class="mb-8">Confirme Nova Senha</label>
                    <input type="password" name="new_password2" required>
                </fieldset>
                <ul class="mt-20">
                    <li class="d-flex gap-8">
                        <i class="icon-round-check xs bg-white flex-shrink-0"></i>
                        <p class="text-large">A senha deve ter pelo menos 8 caracteres, incluindo letras maiúsculas,
                            minúsculas e números.</p>
                    </li>
                    <li class="mt-16 d-flex gap-8">
                        <i class="icon-round-check xs bg-white flex-shrink-0"></i>
                        <p class="text-large">Não reutilize senhas antigas.</p>
                    </li>
                </ul>
                <button class="mt-40 tf-btn lg">Salvar</button>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% tracking_body_end %}
</body>

</html>